* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(
        45deg,
        rgb(122, 191, 255),
        rgb(122, 255, 117),
        rgb(255, 244, 97)
    );
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    text-align: center;
}

.score-area {
    text-align: center;
    padding: 10px;
}

.container {
    background-color: rgb(245, 245, 245);
    width: 60vw;
    padding: 50px;
    margin: 20px auto 0 auto;
    border-radius: 10px;
}

.circles {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    pointer-events: none;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    font-family: inherit;
    border: none;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(90, 197, 211);
    color: white;
}

.modal {
    width: 40vw;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#close {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000071;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result {
    padding: 30px;
}

.active {
    background-color: rgb(90, 197, 211);
}

#stop {
    display: none;
}
