* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
}
